@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url('//basehold.it/24');*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */


html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border: 0.25em solid white;
  background: #DC143C;
  /*color: crimson*/
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

video.self {
  margin: auto;
  /*padding-right: 4em;*/
}

#self {
  width: 50%;
  border: 0.5em solid white;
}

#peer {
  width: 20%;
  display: flex;
}

button.leave {
  background-color: #000000;
  color: #FFFFFF;
  float: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: auto;
  width: 150px;
  position: absolute;
  left: 20em;
}

button.join {
  background-color: #000000;
  color: #FFFFFF;
  float: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: auto;
  width: 150px;
  position: absolute;
  left: 20em;
}

button.mutebutton {
  display: grid;
  margin: auto;
  height: 3.5em;;
  width: 3.5em;;
  border-radius: 50%;
  align-content: center;
}

form.chat-box {
 float: right;
 max-width: 20em;
 padding: 5px;
 background-color: white;
}

.chat-box .sendbutton {
 color: white;
 background-color: green;
 margin-bottom: 1em;
 padding: 1em 1.25em;
 width: 100%;
}

/* Add a red background color to the cancel button */
.chat-box .closebutton {
 background-color: red;
}

img.logo {
  display: block;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
}

p {
  padding-bottom: 2em;
  color: white;
  text-align: center;
}

a {
  color: #00B7FF;
}

video {
  display: block;
  max-width: 100%;
}
