@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url('//basehold.it/24');*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */


html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border: 0.25em solid white;
  background: #DC143C;
  /*color: crimson*/
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

#self {
  width: 20%;
  border: 0.25em solid white;
  margin: auto;
}

#peer {
  display: block;
  max-width: 100%;
  border: 0.25em solid black;
  margin: auto;
  margin-top: 1em;
}

/*
article.videos {
  position: relative;
}

#self {
  position: absolute;
  width: 20%;
  top: 136%;
  margin-bottom: 3em;
  right: 350px;
  border: 0.25em solid white;
}

#peer {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: 0.25em solid black;
  margin: auto;
  margin-top: 1em;
}
*/

button.leave {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

button.join {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

button.mutebutton {
  display: inline-block;
  margin: auto;
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

button.selfvideo {
  display: inline-block;
  margin: auto;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin-top: 1em;
}

button.chat {
  display: inline-block;
  margin: auto;
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

form.chat-box {
 float: right;
 max-width: 20em;
 padding: 5px;
 background-color: white;
 margin-top: -30em;
}

input {
  padding: 0;
  height: 1.5em;
  width: 24em;
  position: relative;
}

.chat-box .sendbutton {
 color: white;
 background-color: green;
 margin-bottom: 1em;
 padding: 1em 1.25em;
 width: 100%;
}

#chat-log .self {
  background: #BFEFFF;
  text-align: right;
  border: 0.25em;
  padding: 0.5em;
  border-radius: 15px;
}

#chat-log .peer {
  background: #D3D3D3;
  background-size: contain;
  text-align: left;
  border: 0.25em;
  padding: 0.5em;
  border-radius: 15px;

}

ol {
  padding-bottom: 1em;
}

img.logo {
  display: block;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
}

p {
  padding-bottom: 2em;
  color: white;
  text-align: center;
}

a {
  color: #00B7FF;
}

video {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 250px) {
  img.logo {
    width: 4em;
    height: 4em;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.75em;
  }

  p {
    font-size: 0.5em;
  }

  #self {
    width: 20%;
  }

  #peer {
    width: 60%;
  }

  button.join {
    padding: 10px;
    border-radius: 10px;
    width: 90px;
  }

  button.mutebutton {
    height: 3em;
    width: 3em;
  }

  button.selfvideo {
    height: 3em;
    width: 3em;
  }

  button.chat {
    height: 3em;
    width: 3em;
  }

  div {
    padding-bottom: 2em;
  }

  ol {
    font-size: 50%;
  }

  form.chat-box {
   margin-right: 1em;
   margin-top: -1em;
   margin-bottom: 2em;
   max-width: 6em;
  }

  input {
    height: 1.5em;
    width: 7em;
  }

  .chat-box .sendbutton {
   width: 75%;
   height: 75%;
  }
}

@media screen and (min-width: 500px) {

  form.chat-box {
   float: right;
   margin-top: -10em;
   margin-right: -1em;
   max-width: 6em;
  }

  ol {
    font-size: 75%;
  }

  input {
    width: 7em;
  }

  .chat-box .sendbutton {
   width: 75%;
   height: 75%;
  }
}

@media screen and (min-width: 750px) {

  img.logo {
    width: 8em;
    height: 8em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 0.75em;
  }

  #self {
    width: 15%;
  }

  #peer {
    width: 45%;
  }

  button.mutebutton {
    height: 4em;
    width: 4em;
  }

  button.selfvideo {
    height: 4em;
    width: 4em;
  }

  button.chat {
    height: 4em;
    width: 4em;
  }

  ol {
    font-size: 100%;
  }

  form.chat-box {
   margin-top: -12em;
   margin-right: -1em;
   max-width: 10em;
  }

  input {
    width: 11em;
  }

  .chat-box .sendbutton {
   width: 100%;
   height: 100%;
  }
}

@media screen and (min-width: 1000px) {

  button.mutebutton {
    height: 5em;
    width: 5em;
  }

  button.selfvideo {
    height: 5em;
    width: 5em;
  }

  button.chat {
    height: 5em;
    width: 5em;
  }

  form.chat-box {
   max-width: 16em;
   margin-top: -12em;
  }

  input {
    height: 1.5em;
    width: 18em;
  }
}

@media screen and (min-width: 1200px) {

  img.logo {
    width: 10em;
    height: 10em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  #self {
    width: 15%;
  }

  #peer {
    width: 50%;
  }

  form.chat-box {
   max-width: 16em;
   margin-top: -30em;
  }

  input {
    height: 1.5em;
    width: 19em;
  }
}
